from elasticsearch import Elasticsearch
import json
import argparse
import sys
import time
import datetime
from pyzabbix import ZabbixSender,ZabbixMetric
es = Elasticsearch([{'host': '{{ elasticsearch_server_ip }}', 'port': 9200}])
server = ZabbixSender('{{ zabbix_server_ip }}', 10051)
sender = ZabbixSender(use_config=True)
#%z is the      UTC offset in the form ±HHMM[SS[.ffffff]] (empty string if the object is naive).
TIMESTAMP_FORMAT = "%Y-%m-%dT%H:%M:%S.%fZ"
TIMESTAMP_KEY_LOG = 'read_timestamp'
TIMESTAMP_KEY_ERROR_LOG = '@timestamp'
FLAG_ZBX = "flag_zbx"

#Send all values to Zabbix, in correct time.
#key_timestamp is the value in log
#key reprensents the key to send to Zabbix. Example: 'apache2.access.response_code'
#host represents hostname of the host. Example: 'slave'
#item_key represents  the key in th3e item in the Zabbix frontend
# sent to Zabbix
def send_all_values(key,host,item_key,key_timestamp = TIMESTAMP_KEY_LOG):
    #Query match only values where not was sended to Zabbix.
    if key.find("error") >= 0:
        key_timestamp = TIMESTAMP_KEY_ERROR_LOG
    exist_flag = {
            "query": {
                "bool": {
                    "must_not": {
                        "exists": {
                            "field": FLAG_ZBX
                        }
                    }
                }
            }
        }
    indexs = all_indexs()
    info = info_index_with_query(indexs,exist_flag)
    requests = key_values(key_timestamp,key,info)
    packet = [ZabbixMetric(host,item_key,this_value[key],time_to_unixtime(this_value[key_timestamp])) for this_value in requests]
    result = sender.send(packet)
    if result.failed == 0:
        info_index_to_send(indexs)
    else:
        print('Error sending values')
    print(result)
    return result



################################################################################
####   HELPERS   ###############################################################
################################################################################
# This method return all index, except those that begin with a dot
# like .kibana_1
def all_indexs():
    return [index for index in es.indices.get(index='_all') if not index.find('.')==0]

#This method return all hits that are in elasticsearch
def info_index(indexs):
    petitions = []
    info = []
    for ind in indexs:
        #Size is 10 by default
        size = es.search(index = ind)['hits']['total']
        petitions.append(es.search(index = ind, size = size))
    for pet in petitions:
        info = info +([item['_source'] for item in pet['hits']['hits']])
    return info

#This method accept a query (format DSL) to catch hits in elasticsearch
#indexs must be a list
#Example : "query": {"bool": {"must_not": {"exists": {"field": flag}}}}}
def info_index_with_query(indexs,query):
    petitions = []
    info = []
    for ind in indexs:
        #Size is 10 by default
        size = es.search(index = ind,body = query)['hits']['total']
        petitions.append(es.search(index = ind, body = query, size = size))
    for pet in petitions:
        info = info +([item['_source'] for item in pet['hits']['hits']])
    return info

#When send values to Zabbix, put a flag in elastic to hits sended.
def info_index_to_send(indexs,flag = FLAG_ZBX):
    add_flag = {
        "conflicts": "proceed",
        "script": {
            "source": "ctx._source['" + FLAG_ZBX + "'] = '1'",
            "lang": "painless"
            }
        }
    for ind in indexs:
        es.update_by_query(index=ind, body=add_flag,request_timeout=30)
    return indexs

#key_timestamp is key what represents timestamp. E.g. 'timestamp'
#key reprensents the key to send to Zabbix. Example: 'response'
#information represents all hits where we find the key.
def key_values(key_timestamp,key,information):
    if key.find("error") >= 0:
        key_timestamp = TIMESTAMP_KEY_ERROR_LOG
    if (key.find('.')>0):
        keys = key.split('.')
        if len(keys) == 2:
            st_k = keys[0]
            nd_k = keys[1]
            #Concat timestamp with key value, only if for key value exists
            values = [{key_timestamp:actual[key_timestamp],key:actual[st_k][nd_k]} for actual in information if st_k in actual and nd_k in actual[st_k]]
        elif len(keys) == 3:
            st_k = keys[0]
            nd_k = keys[1]
            rd_k = keys[2]
            values = [{key_timestamp:actual[key_timestamp],key:actual[st_k][nd_k][rd_k]} for actual in information if st_k in actual and nd_k in actual[st_k] and rd_k in actual[st_k][nd_k]]
    else:
        values = [{key_timestamp:s_info[key_timestamp],key:s_info[key]} for s_info  in information if key in s_info]
    return values

def remove_zbx_flag(indexs,flag = FLAG_ZBX):
    remove_flag = {
    "script": {
        "source": "ctx._source.remove('" + FLAG_ZBX + "')",
        "lang": "painless"
        }
    }
    for ind in indexs:
        es.update_by_query(index=ind, body=remove_flag)
    return indexs

def percentages_key(key,value,index):
    try:
        info = info_index(index)
        actual = key_values(key,info)
        percentage = (len([this_value for this_value in actual if this_value == str(value)])/len(actual))*100
        print(percentage)
    except:
        print("Invalid index.")


#Ejemplos de cambios de fechas https://stackabuse.com/converting-strings-to-datetime-in-python/
# Para saber los formatos a utilizar https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior
def time_to_unixtime(timestamp):
    return time.mktime(datetime.datetime.strptime(timestamp, TIMESTAMP_FORMAT).timetuple())



###############################################################################
## MAIN
###############################################################################
if __name__ == "__main__":
     key_timestamp = TIMESTAMP_KEY_LOG
     parser = argparse.ArgumentParser(prog="apache_stats.py", description="Script to recolect apache stats from ElasticSearch")

     subparsers = parser.add_subparsers(dest='command')
#
     subparser = subparsers.add_parser("send_all_values", help="Send values from indicate key.")
     subparser.add_argument("-k","--key", metavar="hit-key", type=str, help="Key what you want values.",required = True)
     subparser.add_argument("-s","--host", metavar="host", type=str, help="Hostname value in Zabbix.",required = True)
     subparser.add_argument("-i","--item_key", metavar="item-key", help=" Item key what represents the item in Zabbix.")
     subparser.add_argument("-t","--key_timestamp", metavar="key-timestamp", default=key_timestamp, help="Key what \
     represents timestamp in elasticsearch hit.")

     if len(sys.argv) > 1:
         args = parser.parse_args()
         if (args.command == "send_all_values"):
             send_all_values(args.key,args.host,args.item_key,args.key_timestamp)
     else:
        print("No arguments given. Nothing to do.")
        parser.print_help()
