import requests
import json
import sys
from influxdb import InfluxDBClient
import argparse

influx_host = "{{ influx_host }}"
influx_port = {{ influx_port }}
influx_database = "{{ influxdb_database }}"
URL_INFO = 'http://ipinfo.io/'
MEASUREMENT = "{{ influx_database_measurement }}"
CLIENT = InfluxDBClient(host=influx_host, port=influx_port, database=influx_database)

def data_ip(ip_address):
    if not is_valid(ip_address):
        print("IP not valid.")
    else:
        response = requests.get(URL_INFO + ip_address + '/json')
    response = response.json()
    latitude = response['loc'].split(',')[0]
    longitude = response['loc'].split(',')[1]
    try:
        response.update({'latitude':latitude})
        response.update({'longitude':longitude})
    except:
        print("No data.")
    print(response)
    return response
    #return {response['ip'] + '.' + i:v for i,v in response.items()}

def is_valid(ip_address):
    indexs = ip_address.split(".")
    if len(indexs) != 4:
        return False
    for number in indexs:
        if not 0 <= int(number) <= 255:
            return False
    return True

def data_to_influx(data_ip):
    return [{"measurement": MEASUREMENT,
            "tags":{},
            "fields":data_ip}]

def save_data(ip_address):
    ip_data = data_ip(ip_address)
    try:
        CLIENT.write_points(data_to_influx(ip_data))
        print('Data IP added to database.')
    except:
        print('No DB connection')
    return


###############################################################################
## MAIN
###############################################################################
if __name__ == "__main__":
     parser = argparse.ArgumentParser(prog="data_ip.py", description="Script to recolect data from an IP address.")

     subparsers = parser.add_subparsers(dest='command')
#
     subparser = subparsers.add_parser("save_data", help="Save data to influxDB.")
     subparser.add_argument("-i","--ip_address", metavar="ip-address", type=str, help="IP what you want data.",required = True)

     subparser = subparsers.add_parser("json_data", help="Show data in json format.")
     subparser.add_argument("-i","--ip_address", metavar="ip-address", type=str, help="IP what you want data.",required = True)

     if len(sys.argv) > 1:
         args = parser.parse_args()
         if (args.command == "save_data"):
             save_data(args.ip_address)
         elif(args.command == "json_data"):
             data_ip(args.ip_address)
     else:
        print("No arguments given. Nothing to do.")
        parser.print_help()
